############
# Workspace
############
W_ROOT_PATH=${PWD}
W_VOLUMES_PATH=${PWD}/.volumes

############
# Postgres
############
POSTGRES_PASSWORD=password
POSTGRES_HOST=supabase-db
POSTGRES_DB=postgres
POSTGRES_PORT=5432

############
# Domain
############
BASE_DOMAIN=codeup.id

############
# Cloudflare
# dibutuhkan untuk: traefik certificatesresolvers
############
CLOUDFLARE_EMAIL=
CLOUDFLARE_API_KEY=

############
# Admin Login
# dibutuhkan untuk: app-backend
############
ADMIN_EMAIL=admin@codeup.id
ADMIN_PASSWORD=password
